<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div
        class="alert alert-warning col-md-12"
        role="alert"
        *ngIf="productResponse.total === 0"
      >
        Products Not Found !!!
      </div>
      <div class="row">
        <div
          class="col-sm-6 col-md-4 col-lg-3"
          *ngFor="let product of productResponse.products; let i = index"
        >
          <div class="product-box card p-2 justify-content-between">
            <img
              src="{{ imageLink + product.id || product.imageUrl }}"
              class="img-responsive"
              alt=""
            />
            <h1>{{ product.name }}</h1>
            <div class="price">{{ product.unitPrice | currency: "USD" }}</div>
            <div class="d-flex justify-content-between">
              <a href="#" class="primary-btn">Add to cart</a>
              <a routerLink="/products/{{ product?.id }}" class="primary-btn"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
